{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
<h1>Пароль: hibro</h1>
  <form class="" action="/api/login" method="post">
    <input type="password" name="password" placeholder="password" value="">

    <input type="submit" name="" value="Войти">
  </form>

{% endblock %}
