{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

  <form class="" action="/api/login" method="post">
    <input type="password" name="password" value="">

    <input type="submit" name="" value="Войти">
  </form>

{% endblock %}
